body {
    font-family: Arial;
    background: #0F3787;
    color: white;
    margin: 0;
}

.container {
    padding: 20px;
}

input, select, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background: white;
    color: #0F3787;
    font-weight: bold;
}

.pergunta {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    margin: 10px 0;
}