body {
    font-family: Arial;
    background: #0F3787;
    color: white;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
input, select, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background: white;
    color: #0F3787;
    font-weight: bold;
}

.pergunta {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    margin: 10px 0;
}